@page "/books"

@if (_initialized)
{
    <div class="books-page">
        <MudBlazor.MudTable
            @ref="BooksDataProvider.Table"
            T="Book"
            ServerData="BooksDataProvider.Data"
            Loading="BooksDataProvider.IsLoading"
        >
            <ToolBarContent>
                <MudGrid Spacing="4" Class="pt-2">
                    <MudItem xs="12" sm="12" md="3" Class="align-content-center">
                        <MudText Typo="Typo.h4">Books</MudText>
                    </MudItem>

                    <MudItem xs="12" sm="4" md="3" Class="align-content-center">
                        <MudSelect 
                            T="Author"
                            Placeholder="Author"
                            Variant="Variant.Outlined"
                            Margin="Margin.Dense"
                            AnchorOrigin="Origin.BottomCenter"
                            ValueChanged="OnAuthorSelectedAsync"
                        Class="pt-0">

                            <MudSelectItem Value="(Author)null!">Select Author</MudSelectItem>
                            @foreach (var author in _authors)
                            {
                                <MudSelectItem Value="@author">@author.Name</MudSelectItem>
                            }

                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" sm="4" md="3" Class="align-content-center">
                        <MudTextField
                            T="string"
                            DebounceInterval="300"
                            OnDebounceIntervalElapsed="OnSearchAsync"
                            Placeholder="Search"
                            Variant="Variant.Outlined"
                            Margin="Margin.Dense"
                            Adornment="Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Search"
                            IconSize="Size.Medium">
                        </MudTextField>
                    </MudItem>

                    <MudItem xs="12" sm="4" md="3" Class="align-content-center">
                        <MudTableSortSelector 
                            T="Book"
                            Variant="Variant.Outlined"
                            Margin="Margin.Dense">

                                @foreach (var label in BooksDataProvider.Table!.Context.SortLabels)
                                {
                                    <MudTableSortItem T="Book" Value="@label" />
                                }

                            <MudTableSortLabel T="Book" SortLabel="id">
                                Cheapest
                            </MudTableSortLabel>
                        </MudTableSortSelector>
                    </MudItem>
                </MudGrid>
            </ToolBarContent>

            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel T="Book" SortLabel="id">
                        ID
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel T="Book" SortLabel="author">
                        Author
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel T="Book" SortLabel="title">
                        Title
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel T="Book" SortLabel="publish">
                        Publish Year
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="ID">
                    @context.Id
                    </MudTd>
                <MudTd DataLabel="Author">
                    @_authors.FirstOrDefault(x => x.Id == context.AuthorId)?.Name
                </MudTd>
                <MudTd DataLabel="Title">
                    @context.Title
                </MudTd>
                <MudTd DataLabel="Publish Year">
                    @context.PublishYearDisplay
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5 }" HideRowsPerPage="true" />
            </PagerContent>
        </MudBlazor.MudTable>
    </div>
}