@namespace MudBlazor
@typeparam T

<div class="d-flex flex-grow-1 align-center">
    <CascadingValue TValue="MudTableSortSelect<T>" Value="this" IsFixed="true">
        @{ OnRender(); }
        <MudSelect 
            T="MudTableSortSelectItem<T>"
            Placeholder="@Placeholder"
            Variant="InputVariant"
            Margin="InputMargin"
            Clearable="Clearable"
            FullWidth="true"
            Class="@InputClass"
            AnchorOrigin="AnchorOrigin"
            TransformOrigin="TransformOrigin"
            Value="Item"
            ValueChanged="OnItemChangedAsync"
            @ref="_select">
                @ChildContent
        </MudSelect>

        @if (!HideSortButton)
        {
            <MudIconButton 
                Icon="@GetSortIcon()"
                Variant="ButtonVariant"
                Size="ButtonSize"
                Class="@ButtonClass"
                Style="@GetSortIconClass()"
                OnClick="ToggleSortDirectionAsync">
            </MudIconButton>
        }
    </CascadingValue>
</div>
