@namespace MudBlazor
@typeparam T

<div class="d-flex align-center">
    @{ UpdateValue(); }
    <CascadingValue TValue="MudTableSortSelect<T>" Value="this" IsFixed="true">
        <MudSelect 
            T="MudTableSortSelectItemValue<T>"
            Placeholder="@Placeholder"
            Variant="InputVariant"
            Margin="InputMargin"
            Clearable="Clearable"
            FullWidth="true"
            Class="@InputClass"
            AnchorOrigin="AnchorOrigin"
            @bind-Value="Value"
            @ref="_select">
                @_childContent
        </MudSelect>

        @if (!HideSortButton)
        {
            <MudIconButton 
                Icon="@Icons.Material.Filled.Sort"
                Variant="ButtonVariant"
                Size="ButtonSize"
                Class="@ButtonClass"
                Style="@(SortDirection == MudBlazor.SortDirection.Ascending ? string.Empty : "transform: scaleY(-1);")"
                OnClick="ToggleSortDirectionAsync">
            </MudIconButton>
        }
    </CascadingValue>
</div>
