@page "/books"
@inherits PageBase<BooksPageViewModel>
@rendermode InteractiveWebAssembly
<PageTitle>Books</PageTitle>

<h1>Books</h1>

<FluentSelect
    TOption="Author"
    Label="Author"
    Items="ViewModel.State.Authors"
    OptionText="@(author => author.Name)"
    SelectedOptionChanged="ViewModel.OnAuthorSelectedAsync"
    Multiple="false">
    </FluentSelect>

<FluentDataGrid
    ItemsProvider="ViewModel.BooksProvider.GetItems"
    GridTemplateColumns="1fr 1fr 1fr 1fr 1fr"
    Pagination="@ViewModel.BooksProvider.PaginationState"
    TGridItem="Book">

        <SortMapPropertyColumn
            Title="ID"
            Property="@(x => x.Id)"
            SortValue=@("Id")
            Sortable="true"
            IsDefaultSortColumn="true"
            Align="Align.Start" />
        
        <SortMapPropertyColumn 
            Title="Title"
            SortValue=@("Title")
            Property="@(x => x.Title)"
            Sortable="true"
            Align="Align.Start" />

        <SortMapTemplateColumn
            Title="Rating"
            SortValue=@("Rating")
            Sortable="true"
            Align="Align.Start" >
            <div id=@($"grid-book-{context.Id}")>
                @for (int i = 0; i < context.GetStarCount(); i++)
                {
                    <FluentEmoji
                        Value="@(new Emojis.TravelPlaces.Flat.Default.Star())" />
                }
            </div>
            <FluentTooltip Anchor=@($"grid-book-{context.Id}")>
                <div>
                    Rating: @context.Rating!.Rating!.Value.ToString("F2")
                </div>
                <div>
                    Rating count: @context.Rating!.RatingCount
                </div>
            </FluentTooltip>
            
        </SortMapTemplateColumn>

        <SortMapPropertyColumn
            Title="Author"
            SortValue=@("AuthorId")
            Property="@(x => ViewModel.State.Authors.First(a => a.Id == x.AuthorId).Name)"
            Sortable="ViewModel.State.SelectedAuthorId is null"
            Align="Align.Start" />

</FluentDataGrid>

<FluentPaginator State="@ViewModel.BooksProvider.PaginationState">
    <SummaryTemplate>
        Total items: <strong>@(Provider.TotalItems)</strong>
    </SummaryTemplate>
    <PaginationTextTemplate>
        Page <strong>@(Provider.CurrentPage)</strong> of <strong>@(Provider.TotalPages)</strong>
    </PaginationTextTemplate>
</FluentPaginator>

<ComponentStateContainer ViewModel="ViewModel" />
<FluentTooltipProvider />